.root {
    padding: 60px 20px;
    display: flex;
    // height: 450px;
    
    img {
        width: 350px;
        height: 350px;
        float: left;
        margin-right: 30px;
    }
    h1 {
        font-weight: 900;
        padding: 0 20px;
        font-size: 40px;
    }
    h2 {
        padding: 20px 0 30px;
        font-size: 20px;
    }
    h3 {

        font-weight: 600;
      
    }
}

@media (max-width: 1087px) {
    .root {
        display: block;
        img{
            float: left;
        }
    }
}

@media (max-width: 927px) {
    .root {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
        text-align: center;
        }
        img {
            float: none;
        }
    }
    
}