.root {
  position: relative;
  left: -120px;
  input {
    width: 300px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgb(175, 173, 173);
    color: rgb(151, 151, 151);
    font-size: 14px;
    padding-left: 33px;
    // transition: all 0.25s ease-in-out;
    &:focus {
      border: 1px solid rgb(137, 135, 135);
    //   width: 450px;
    }
  }
  img {
    width: 20px;
    height: 20px;
    opacity: 0.3;
  }
}
@media (max-width: 1180px) {
  .root input,
  .root img {
    display: none;
  }
}

.glass {
  position: absolute;
  left: 10px;
  top: 9px;
}

.close {
  position: absolute;
  right: 10px;
  top: 9px;
  &:hover {
    opacity: 0.7;
  }
}
