@import "variables";
@import "libs/normalize";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

body {
  margin: 45px 0;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app {
  margin: auto;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  padding: 0 40px;
  border-radius: 8px;
  width: 80%;
  height: 90%;
}

.header {
  @include flex-between;
  padding: 40px 0px;
  border-bottom: 1px solid $gray-line;
  .logo-wrapper {
    display: flex;
    align-items: center;
    .logo {
      vertical-align: middle;
      width: 30px;
      margin-right: 15px;
    }
    .text-block {
      h1 {
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
        color: #181818;
        letter-spacing: 1%;
      }

      p {
        color: #7b7b7b;
        font-size: 14px;
      }
    }
  }

  .cart-wrapper {
    button {
      @include flex-between;
      background-color: $orange;
      border-radius: 30px;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      min-width: 100px;
      text-align: center;

      span {
        color: #fff;
      }

      .total-price {
        border-right: 1px solid #7b7b7b;
        padding-right: 6px;
        span + span {
          margin-left: 5px;
        }
      }

      .item-quantity {
        img {
          width: 15px;
          margin-right: 5px;
        }
      }
    }
  }
}

.top-section {
  @include flex-between;
  font-size: 14px;

  .categories {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    .categories-btn {
      padding: 10px 24px;
      border-radius: 30px;
      background-color: #e6e4e4;
      font-weight: 700;
      &:hover {
        background-color: #f9f9f9;
      }
      .active {
        background-color: $black;
        color: #fff;
      }
    }
  }
  .sort-wrapper {
    position: relative;
    .sort {
      &__text {
        font-weight: 600;
      }
      &__choice {
        color: $orange;
        border-bottom: 1px dashed $orange;
      }
      img {
        padding: 1px 3px;
      }
    }

    .sort-popup {
      display: none;
      margin-top: 10px;
      position: absolute;
      right: 0;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
      ul {
        width: 180px;
        padding: 10px 0;
        background-color: #fff;
        li {
          width: 100%;
          padding: 12px 20px;
          &:hover {
            background-color: rgba(254, 95, 30, 0.05);
          }
          .active {
            font-weight: 700;
            color: $orange;
          }
        }
      }
    }
  }
}
