@import "variables";
@import "libs/normalize";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import "./components/all";

body {
  margin: 45px 0;
}

.app {
  margin: auto;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  padding: 0 40px;
  border-radius: 8px;
  width: 80%;
  height: 90%;
}

@media screen and (max-width: 1170px) {
  .app {
    width: auto;
    margin: 40px 50px;
    padding: 0 60px;
  }
  .categories {
    width: 100%;
    overflow-x: auto;
    .categories-btn {
      width: 700px;
    }
  }
  .sort {
    display: flex;
    padding-left: 20px;
    &__text {
      display: none;
    }
    &__choice {
      padding-bottom: 5px;
    }
  }
}

@media (max-width: 968px) {
  body {
    margin: 12px 0;
  }

  .app {
    margin: 0;
    padding: 0 30px;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0;
    background-color: #fff;
  }
  .header {
    width: 100%;
    background-color: $background;
    padding: 20px 10px;
  }
  .app {
    padding: 0;
  }
  .cart .top-section .header-wrapper {
    padding: 10px 0;
  }
  .cart,
  .top-section,
  .pizza-block {
    padding: 10px;
  }
}
@media (max-width: 510px) {
  .cart__items .item h2 {
    font-size: 16px;
  }
  .button-wrapper {
    transform: translateX(-10px);
  }
  .header .logo-wrapper .text-block p {
    display: none;
  }
  .top-section {
    flex-direction: column;
    .header-wrapper {
      padding: 10px 0;
    }
    .categories {
      padding: 20px 0;
    }
  }
  .pizza-block h1 {
    padding: 0;
  }
}

@media (max-width: 360px) {
  .header .cart-wrapper button {
    display: none;
  }
}

.empty {
  display: block;
  padding: 80px 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  p {
    padding: 20px;
  }
  img {
    width: 300px;
  }
  button {
    @include btn;
    background: #000;
    color: #fff;
    margin-top: 20px;
    border: none;
    font-weight: 700;
  }
}

.header-wrap {
  display: flex;
  justify-content: end;
}
